/app/node_modules
/server/node_modules

/app/build/
/server/public/

/app/public/config/
!/app/public/config/config.js
!/app/public/config/config.example.js

/server/config/
!/server/config/config.example.js

/server/certs/
!/server/certs/mediasoup-demo.localhost.*

.vscode


log/*
